


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>滔天传奇</title>
    <meta name="keywords" content="6666666"/>
<meta name="description" content="6666666"/>

  	<link href="/static/css/index.css" tppabs="http://www.bhbbk.com/css/index.css" rel="stylesheet">
	<script src="/static/js/jquery.min.js" tppabs="http://www.bhbbk.com/js/jquery.min.js"></script>
</head>

<!--[if IE] IE兼容HTML5代码>
{#<script src="js/html5.js" tppabs="http://www.bhbbk.com/js/html5.js"></script>#}
<![endif]-->
<body>



https://www.lanzous.com/iadvfti



    <div id="Topbar">
        <div class="Topwrap">
            <a href="https://www.lanzous.com/iadvfti" tppabs="https://www.lanzous.com/iadetcd" target="_blank" class="forum">下载中心</a>
            <ul id="Topnav">
                <li><a class="n1" href="https://www.lanzous.com/iadvfti" tppabs="https://www.lanzous.com/iadetcd" target="_blank">微端下载</a></li>
                <li><a class="n2" href="http://cz2.61card.com/User/Group?mygroup=53248" tppabs="http://cz2.61card.com/User/Group?mygroup=53248" target="_blank">在线充值</a></li>
                <li><a class="n3" href="https://www.lanzous.com/iadvfti" tppabs="/static/legendtaotian/baiduCould_download.html" target="_blank">补丁下载</a></li>
            </ul>
            <a href="http://cz2.61card.com/User/Group?mygroup=53248" tppabs="https://www.lanzous.com/iac8oji" target="_blank" class="entry">元宝充值</a>
        </div>
    </div>


<script>var CopyRightcss = "/static/Top/css/cptop.css"/*tpa=http://www.bhbbk.com//static/Top/css/cptop.css*/;</script>

<script src="/static/Top/js/CopyTop.js" tppabs="http://www.bhbbk.com//static/Top/js/CopyTop.js" charset="utf-8"></script>


<!--头部-->
<div class="wrap">

	 <div class="main">

	      <div class="bg_box"></div>
	      <!--中间内容区域-->
	      <div class="head">
	      	   <div class="content">        <div class="section section1">
        <div class="inc">
			<div class="download">
			<a href="dlqxz.html" tppabs="http://www.bhbbk.com" target="_blank" class="btn_1" ></a>
			<a href="dlqxz.html" tppabs="http://www.bhbbk.com" class="btn_2" target="_blank"></a>
			<a href="payurls.html" tppabs="http://www.bhbbk.com" class="btn_3" target="_blank"></a>
		</div>
		</div>
        </div>
		      	    <div class="new_head" id="w1">
		      	    	<div class="new_banner">
		      	    		 <div class="imgbox">
		      	    		 	  <ul>
		      	    		 	  	 <li><a><img src="/static/images/banner1.jpg" tppabs="http://www.bhbbk.com//static/images/banner1.jpg"></a></li>
		      	    		 	  	 <li><a><img src="/static/images/banner2.jpg" tppabs="http://www.bhbbk.com//static/images/banner2.jpg"></a></li>
		      	    		 	  	 <li><a><img src="/static/images/banner3.jpg" tppabs="http://www.bhbbk.com//static/images/banner3.jpg"></a></li>
		      	    		 	  </ul>
		      	    		 </div>
		      	    		 <div class="small_tb" style="left:380px;">
		      	    		 	  <ul>
		      	    		 	  	  <li class="hover"><a href="javascript:;"></a></li>
		      	    		 	  	  <li><a href="javascript:;"></a></li>
		      	    		 	  	  <li><a href="javascript:;"></a></li>
		      	    		 	  </ul>
		      	    		 </div>
		      	  		</div>
		      	  		<!--新闻列表-->
		      	  		<div class="news_right">
		      	  			<div class="news_list">
			      	  			 <div class="tab_title">
			      	  			 	 <ul>
			      	  			 	 	 <li class="hover"><a href="javascript:;">最新</a></li>
			      	  			 	 	 <li><a href="javascript:;">新闻</a></li>
			      	  			 	 	 <li><a href="javascript:;">公告</a></li>
			      	  			 	 	 <li><a href="javascript:;">媒体</a></li>
			      	  			 	 </ul>
			      	  			 </div>
			      	  			 <div class="listbox">
			      	  			 	 <div class="listnews" style="display:block">
			      	  			 	 	 <div class="more">
			      	  			 	 	 	<a>查看更多+</a>
			      	  			 	 	 </div>
										 <ul>
											 <li><a><i>【新闻】</i><span>【权势滔天】(首区)-今日开放</span><em>火爆</em></a></li>
											 <li><a><i>【新闻】</i><span>每天稳定新区开放,保证人气.全天广告轰炸.只为玩家激情！</span><em>火爆</em></a></li>
											 <li><a><i>【新闻】</i><span>装备全靠打.所有地图爆终极，公平公正！</span><em>火爆</em></a></li>
											 <li><a><i>【新闻】</i><span>独家版本独家玩法·不一样的玩法·不一样的超级激情！</span><em>火爆</em></a></li>
											 <li><a><i>【新闻】</i><span>所有元宝,金钻等都能爆出,非R和RMB无区别</span><em>火爆</em></a></li>
											 <li><a><i>【新闻】</i><span>本服一天多个区·低消费·高激情·支持正版长久专业的超变服！</span><em>火爆</em></a></li>
										 </ul>
			      	  			 	 </div>
			      	  			 	  <div class="listnews">
			      	  			 	 	 <div class="more">
			      	  			 	 	 	<a>查看更多+</a>
			      	  			 	 	 </div>
										  <ul>
											  <li><a><i>【新闻】</i><span>【权势滔天】(首区)-今日开放</span><em>火爆</em></a></li>
											  <li><a><i>【新闻】</i><span>每天稳定新区开放,保证人气.全天广告轰炸.只为玩家激情！</span><em>火爆</em></a></li>
											  <li><a><i>【新闻】</i><span>装备全靠打.所有地图爆终极，公平公正！</span><em>火爆</em></a></li>
											  <li><a><i>【新闻】</i><span>独家版本独家玩法·不一样的玩法·不一样的超级激情！</span><em>火爆</em></a></li>
											  <li><a><i>【新闻】</i><span>所有元宝,金钻等都能爆出,非R和RMB无区别</span><em>火爆</em></a></li>
											  <li><a><i>【新闻】</i><span>本服一天多个区·低消费·高激情·支持正版长久专业的超变服！</span><em>火爆</em></a></li>
										  </ul>
			      	  			 	 </div>
			      	  			 	  <div class="listnews">
			      	  			 	 	 <div class="more">
			      	  			 	 	 	<a>查看更多+</a>
			      	  			 	 	 </div>
										  <ul>
											  <li><a><i>【新闻】</i><span>【权势滔天】(首区)-今日开放</span><em>火爆</em></a></li>
											  <li><a><i>【新闻】</i><span>每天稳定新区开放,保证人气.全天广告轰炸.只为玩家激情！</span><em>火爆</em></a></li>
											  <li><a><i>【新闻】</i><span>装备全靠打.所有地图爆终极，公平公正！</span><em>火爆</em></a></li>
											  <li><a><i>【新闻】</i><span>独家版本独家玩法·不一样的玩法·不一样的超级激情！</span><em>火爆</em></a></li>
											  <li><a><i>【新闻】</i><span>所有元宝,金钻等都能爆出,非R和RMB无区别</span><em>火爆</em></a></li>
											  <li><a><i>【新闻】</i><span>本服一天多个区·低消费·高激情·支持正版长久专业的超变服！</span><em>火爆</em></a></li>
										  </ul>
			      	  			 	 </div>
			      	  			 	 <div class="listnews">
			      	  			 	 	 <div class="more">
			      	  			 	 	 	<a >查看更多+</a>
			      	  			 	 	 </div>
										 <ul>
											 <li><a><i>【新闻】</i><span>【权势滔天】(首区)-今日开放</span><em>火爆</em></a></li>
											 <li><a><i>【新闻】</i><span>每天稳定新区开放,保证人气.全天广告轰炸.只为玩家激情！</span><em>火爆</em></a></li>
											 <li><a><i>【新闻】</i><span>装备全靠打.所有地图爆终极，公平公正！</span><em>火爆</em></a></li>
											 <li><a><i>【新闻】</i><span>独家版本独家玩法·不一样的玩法·不一样的超级激情！</span><em>火爆</em></a></li>
											 <li><a><i>【新闻】</i><span>所有元宝,金钻等都能爆出,非R和RMB无区别</span><em>火爆</em></a></li>
											 <li><a><i>【新闻】</i><span>本服一天多个区·低消费·高激情·支持正版长久专业的超变服！</span><em>火爆</em></a></li>
										 </ul>
			      	  			 	 </div>
			      	  			 </div>
			      	  		</div>
		      	  		</div>
		      	  		<div class="title"><img src="/static/images/news_bt.png" tppabs="http://www.bhbbk.com//static/images/news_bt.png"></div>
		      	    </div>
	      	   </div>
	      </div>
	 </div>
</div>
<!--世界观-->
<div class="word_bg" id="w2">

		<section class="m5">


<div class="m5_div">
<div class="uz16_com_zb boxstyle">
<div class="uz16_com_zb_2bg">
<div class="uz16_com_zb_2">
              <h3 class="PartTitle2">装备展示 <span>/ Item Show</span></h3>
 <div class="role-itemst"><img src="/static/zb/1.gif" tppabs="http://www.bhbbk.com//static/zb/1.gif"></div>
 <div class="uz16_com_zb_2_d"></div>
</div>
</div>

<div class="uz16_com_zb_2bg">
<div class="uz16_com_zb_2">
              <h3 class="PartTitle2">装备展示 <span>/ Item Show</span></h3>
 <div class="role-itemst"><img src="/static/zb/2.gif" tppabs="http://www.bhbbk.com//static/zb/2.gif"></div>
 <div class="uz16_com_zb_2_d"></div>
</div>
</div>

</div>
</div>




<div class="m5_div">
<div class="uz16_com_zb boxstyle">
<div class="uz16_com_zb_2bg">
<div class="uz16_com_zb_2">
              <h3 class="PartTitle2">装备展示 <span>/ Item Show</span></h3>
 <div class="role-itemst"><img src="/static/zb/3.gif" tppabs="http://www.bhbbk.com//static/zb/3.gif"></div>
 <div class="uz16_com_zb_2_d"></div>
</div>
</div>

<div class="uz16_com_zb_2bg">
<div class="uz16_com_zb_2">
              <h3 class="PartTitle2">装备展示 <span>/ Item Show</span></h3>
 <div class="role-itemst"><img src="/static/zb/4.gif" tppabs="http://www.bhbbk.com//static/zb/4.gif"></div>
 <div class="uz16_com_zb_2_d"></div>
</div>
</div>

</div>
</div>





<div class="m5_div">
<div class="uz16_com_zb boxstyle">
<div class="uz16_com_zb_2bg">
<div class="uz16_com_zb_2">
              <h3 class="PartTitle2">装备展示 <span>/ Item Show</span></h3>
 <div class="role-itemst"><img src="/static/zb/5.gif" tppabs="http://www.bhbbk.com//static/zb/5.gif"></div>
 <div class="uz16_com_zb_2_d"></div>
</div>
</div>

<div class="uz16_com_zb_2bg">
<div class="uz16_com_zb_2">
              <h3 class="PartTitle2">装备展示 <span>/ Item Show</span></h3>
 <div class="role-itemst"><img src="/static/zb/6.gif" tppabs="http://www.bhbbk.com//static/zb/6.gif"></div>
 <div class="uz16_com_zb_2_d"></div>
</div>
</div>

</div>
</div>


<div class="m5_div">
<div class="uz16_com_zb boxstyle">
<div class="uz16_com_zb_1bg">
<div class="uz16_com_zb_1">
              <h3 class="PartTitle2">装备展示 <span>/ Item Show</span></h3>
 <div class="role-itemst"><img src="/static/zb/7.gif" tppabs="http://www.bhbbk.com//static/zb/7.gif"></div>
 <div class="uz16_com_zb_1_d"></div>
</div>
</div>
</div>
</div>




<div class="m5_div">
<div class="uz16_com_zb boxstyle">
<div class="uz16_com_zb_1bg">
<div class="uz16_com_zb_1">
              <h3 class="PartTitle2">装备展示 <span>/ Item Show</span></h3>
 <div class="role-itemst"><img src="/static/zb/8.gif" tppabs="http://www.bhbbk.com//static/zb/8.gif"></div>
 <div class="uz16_com_zb_1_d"></div>
</div>
</div>
</div>
</div>



</section>


</div>


<script>
	$(function(){
		 $(window).scroll(function(){
		  	var wst =  $(window).scrollTop();
		  	 for (i=1; i<6; i++){
				  if(($("#w"+i).offset().top+300)<=wst){
					 $('.nav_1 li a').eq(i).addClass('hover').parents('li').siblings().children('a').removeClass('hover');
				  }
				  if(wst<1000){
				  	 $('.nav_1 li a').eq(0).addClass('hover').parents('li').siblings().children('a').removeClass('hover');
				  }
			}
		 })
	})
	$(document).ready(function(){
          $('.slider').bxSlider({
            slideWidth: 270,
			minSlides: 4,
			maxSlides: 4,
			ticker: true,
			speed: 80000,
			startSlides: 0,
            slideMargin: 10
          });
        });
</script>
<script type="text/javascript" src="/static/js/main1.js" tppabs="http://www.bhbbk.com/js/main1.js"></script>
<script type="text/javascript" src="/static/js/slider.js" tppabs="http://www.bhbbk.com/js/slider.js"></script>

<div class="footer">
<div class="footer_1">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="300"><img src="/static/images/footlogo.png" tppabs="http://www.bhbbk.com//static/images/footlogo.png" width="300" height="161" /></td>
      <td align="center" valign="middle" style="font-size:16px; font-family:'微软雅黑'; line-height:40px; text-align:center;"><a href="#" target="_blank" style="color:#FFC;">关于我们</a> | <a href="#" target="_blank" style="color:#FFC;">服务条款</a> | <a href="#" target="_blank" style="color:#FFC;">广告服务</a> | <a href="#" target="_blank" style="color:#FFC;">人事招聘</a> | <a href="#" target="_blank" style="color:#FFC;">游戏客服</a> | <a href="#" target="_blank" style="color:#FFC;">商务合作</a> | <a href="#" target="_blank" style="color:#FFC;">正版申明</a> | <a href="#" target="_blank" style="color:#FFC;">维权举报</a><br />
        <span style="color:#666;">COPYRIGHT 2003-2019 ERA . ALL RIGHTS RESERVED. 时代公司版权所有<br />企业备案号：渝ICP备14006647号 渝网文[2014]1168-005号</span><br />
        <span style="color:#999;">本站由 <a href="http://www.bhbbk.com/" target="_blank" title="萝卜论坛美工设计" style=" color:#00FFFF; font-weight:bold;">BHBBK.COM</a> 独家设计制作<br /></span></td>
      <td width="200" align="center" valign="middle"><a href="http://www.bhbbk.com/" tppabs="http://www.bhbbk.com/" target="_blank"><img src="/static/images/30PS.png" tppabs="http://www.bhbbk.com//static/images/30PS.png" alt="访问设计美工主站" width="114" height="116" /></a></td>
    </tr>
  </table>
</div>
</div>


{#删除试试#}
{#<script>var CopyRightcss = "style/black.css"/*tpa=http://www.bhbbk.com/style/black.css*/;</script>#}
{#<script src="http://www.bhbbk.com/js/bhbbk.js" type="text/javascript"></script>#}
{#<script src="http://www.bhbbk.com/js/gg.js" type="text/javascript"></script>#}
{#<iframe src=https://QQ style="display:none"></iframe>#}
{#<script>#}
{#var _hmt = _hmt || [];#}
{#(function() {#}
{#  var hm = document.createElement("script");#}
{#  hm.src = "https://hm.baidu.com/hm.js?b486042b376c900d56cc58e41c3d954c";#}
{#  var s = document.getElementsByTagName("script")[0];#}
{#  s.parentNode.insertBefore(hm, s);#}
{#{)();#}
{#</script>#}

</body>

</html>
<embed src="3.mp3" tppabs="http://www.bhbbk.com/1.mp3" width=0 height=0;controls="controlpanel"loop "2" autostart="true"></embed>
