

{% extends 'news/base.html' %}


    {% block body %}
    <link rel="stylesheet" href="{% static 'css/course/course_detail.min.css' %}">
    <script src="{% static 'videojs/video.min.js' %}"></script>
    <script src="{% static 'videojs/videojs-contrib-hls.min.js' %}"></script>
    <script src="{% static 'videojs/videojs-contrib-quality-levels.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.bdstatic.com/jwplayer/latest/cyberplayer.js"></script>

    <script src="{% static 'js/cms/course_detail.js' %}"></script>
        <div class="main">
        <div class="course-nav">
            <div class="nav-container">
                <h3 class="title">在线课堂</h3>
                <ul class="nav-list">
                    <li class="active"><a href="#">最新课堂</a></li>
                    <li><a href="#">投资人说</a></li>
                    <li><a href="#">明星案例</a></li>
                    <li><a href="#">创业知识</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div class="course-wrapper">
                <div class="course-info">
                    <p class="course-title">{{ course.title }}</p>
                    <div class="price-group">
                        <div class="share-group">
                            <span class="title">精彩电影：</span>
                        </div>
                        <div class="buy-group">
                            <!-- <span class="price pay">￥49.0</span>
                            <a href="#" class="buy-btn">立即购买</a> -->
                            {% if course.price > 0 %}
                                {% if not buyed %}
                                    <span class="price pay">{{ course.price }}</span>
                                    <a href="{% url 'course:course_pay' course.id %}" class="buy-btn">尽情观看</a>
                                {% endif %}
                            {% else %}
                                <span class="price free">免费</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="video-group">
{#                    <span id="video-info" hidden data-video-url="{{ course.video_url }}" data-cover-url="{{ course.cover_url }}" data-course-id="{{ course.pk }}"></span>#}
{#                    <div id="playercontainer"></div>#}
                    <video controls="" autoplay="" name="media" style="width:100%;height:100%"><source src="{{ course.video_url }}" type="video/mp4" ></video>
                </div>
            </div>

        </div>
    </div>
    {% endblock body %}



