
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Flew &mdash; Free HTML5 Bootstrap Website Template by FreeHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	

  

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

{#	<link rel="shortcut icon" href="/static/flew/favicon.ico">#}

	<link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/flew/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/static/flew/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/static/flew/css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="/static/flew/css/flexslider.css">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/static/flew/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/flew/css/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="/static/flew/css/style.css">

	<!-- Modernizr JS -->
	<script src="/static/flew/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
    <script src="{% static 'js/template-web.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
    <script src="{% static 'flew/js/remake.js' %}"></script>

	<!--[if lt IE 9]>
	<script src="/static/flew/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	
	
	<div id="fh5co-page">
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="header-inner">
				<h1><a href="{% url 'flew:index' %}">小程序制作</a></h1>
				<nav role="navigation">
					<ul>
						<li><a href="{% url 'flew:index' %}">主页</a></li>
						<li><a href="/static/flew/services.html">Services</a></li>
						<li><a href="/static/flew/pricing.html">Pricing</a></li>
						<li><a href="/static/flew/about.html">About</a></li>
						<li><a href="/static/flew/contact.html">Contact</a></li>
						<li class="cta"><a href="#">Get started</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	
	<div class="container">
		
	</div>
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url(/static/flew/images/slide_1.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>开始解决你的烦恼，从脚下开始</h2>
{#		   					<p><a href="#" class="btn btn-primary btn-lg">开始</a></p>#}
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(/static/flew/images/slide_2.jpg);">
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>别让金钱阻碍的你的前程</h2>
{#		   					<p><a href="#" class="btn btn-primary btn-lg">开始</a></p>#}
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(/static/flew/images/slide_3.jpg);">
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>点亮你的梦想</h2>
{#		   					<p><a href="#" class="btn btn-primary btn-lg">开始</a></p>#}
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>


    {% block content %}
    {% endblock %}




	<div class="fh5co-cta" style="background-image: url(/static/flew/images/slide_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="col-md-12 text-center animate-box">
				<h3>We Try To Update The Site Everyday</h3>
				<p><a href="#" class="btn btn-primary btn-outline with-arrow">Get started now! <i class="icon-arrow-right"></i></a></p>
			</div>
		</div>
	</div>


	<footer id="fh5co-footer" role="contentinfo">

		<div class="container">
			<div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>About Us</h3>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
				<p><a href="#" class="btn btn-primary btn-outline with-arrow btn-sm">Join Us <i class="icon-arrow-right"></i></a></p>
			</div>
			<div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Our Services</h3>
				<ul class="float">
					<li><a href="#">Web Design</a></li>
					<li><a href="#">Branding &amp; Identity</a></li>
					<li><a href="#">Free HTML5</a></li>
					<li><a href="#">HandCrafted Templates</a></li>
				</ul>
				<ul class="float">
					<li><a href="#">Free Bootstrap Template</a></li>
					<li><a href="#">Free HTML5 Template</a></li>
					<li><a href="#">Free HTML5 &amp; CSS3 Template</a></li>
					<li><a href="#">HandCrafted Templates</a></li>
				</ul>

			</div>

			<div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>联系我们</h3>
				<ul class="fh5co-social">
					<li><a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=c3107491ee860f6d8cc03e4392bfea7600e79e537c24c7b6dd7a43e2e2eeb852"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="Q群" title="Q群"></a></li>
					<li><a href="tencent://message/?uin=360144534&Site=Sambow&Menu=yes">QQ咨询</a></li>
					<li><a href="tencent://message/?uin=360144534&Site=Sambow&Menu=yes"><i class="icon-google-plus"></i></a></li>
					<li><a href="tencent://message/?uin=360144534&Site=Sambow&Menu=yes"><i class="icon-instagram"></i></a></li>
				</ul>
			</div>


			<div class="col-md-12 fh5co-copyright text-center">
				<p>&copy; 2016 Free HTML5 template. All Rights Reserved. <span>Designed with <i class="icon-heart"></i> by <a href="#/" target="_blank">Freehtml5</a> More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></span></p>
			</div>

		</div>
	</footer>
	</div>


	<!-- jQuery -->
	<script src="/static/flew/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/static/flew/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/flew/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/flew/js/jquery.waypoints.min.js"></script>
	<!-- Owl Carousel -->
	<script src="/static/flew/js/owl.carousel.min.js"></script>
	<!-- Flexslider -->
	<script src="/static/flew/js/jquery.flexslider-min.js"></script>

	<!-- MAIN JS -->
	<script src="/static/flew/js/main.js"></script>

	</body>
</html>