{% extends 'cms/base.html' %}

{% block title %}{% endblock title %}

{% block style %}{% endblock style %}

{% block content %}
    <div class="content-wrapper" style="min-height:813px">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>教师添加</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div>
                        <table class="table table-bordered table-primary">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>电影分类</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>美国大片</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

