<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>滔天传奇</title>
    <meta name="keywords" content="6666666"/>
    <meta name="description" content="6666666"/>

    <link href="/static/css/index.css" tppabs="http://www.bhbbk.com/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/Top/css/cptop.css">
</head>

<!--[if IE] IE兼容HTML5代码>

<![endif]-->
<body>


{#TOP#}
<div id="Topbar" style="position:fixed;top:0;left:0;right:0;z-index:999999">
    <div class="Topwrap">
        <a href="https://www.lanzous.com/iadwi6j"  target="_blank"
           class="forum">下载中心</a>
        <ul id="Topnav">
            <li><a class="n1" href="https://www.lanzous.com/iadwi6j"
                   target="_blank">微端下载</a></li>
            <li><a class="n2" href="http://cz2.61card.com/User/Group?mygroup=53248"
                    target="_blank">在线充值</a></li>
            <li><a class="n3" href="https://www.lanzous.com/iadwi6j"
                    target="_blank">补丁下载</a></li>
        </ul>
        <a href="http://cz2.61card.com/User/Group?mygroup=53248"
           target="_blank" class="entry">元宝充值</a>
    </div>
</div>


<!--头部-->
<div class="wrap">

    <div class="main">

        <div class="bg_box"></div>
        <!--中间内容区域-->
        <div class="head">
            <div class="content">
                <div class="section section1">
                    <div class="inc">
                        <div class="download">
                            <a href="https://www.lanzous.com/iadwi6j" tppabs="登录器下载" target="_blank" class="btn_1"></a>
                            <a href="https://www.lanzous.com/iadwi6j" tppabs="补丁下载" class="btn_2" target="_blank"></a>
                            <a href="http://cz2.61card.com/User/Group?mygroup=53248" tppabs="元宝充值" class="btn_3"
                               target="_blank"></a>
                        </div>
                    </div>
                </div>
                <div class="new_head" id="w1">
                    <div class="new_banner">
                        <div class="imgbox">
                            <ul>
                                <li><a><img src="/static/images/banner1.jpg"
                                            ></a></li>
                                <li><a><img src="/static/images/banner2.jpg"
                                            ></a></li>
                                <li><a><img src="/static/images/banner3.jpg"
                                            ></a></li>
                            </ul>
                        </div>
                        <div class="small_tb" style="left:380px;">
                            <ul>
                                <li class="hover"><a href="javascript:;"></a></li>
                                <li><a href="javascript:;"></a></li>
                                <li><a href="javascript:;"></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--新闻列表-->
                    <div class="news_right">
                        <div class="news_list">
                            <div class="tab_title">
                                <ul>
                                    <li class="hover"><a href="javascript:;">最新</a></li>
                                    <li><a href="javascript:;">新闻</a></li>
                                    <li><a href="javascript:;">公告</a></li>
                                    <li><a href="javascript:;">媒体</a></li>
                                </ul>
                            </div>
                            <div class="listbox">
                                <div class="listnews" style="display:block">
                                    <div class="more">
                                        <a>查看更多+</a>
                                    </div>
                                    <ul>
                                        <li><a><i>【技巧】</i><span>首先进《森林遗迹》或《失落废墟》打元宝</span></a></li>
                                        <li><a><i>【技巧】</i><span>差不多打够1W多元宝，在主城一级转生！</span></a></li>
                                        <li><a><i>【技巧】</i><span>再去高级点地图打刷元宝和装备！</span></a></li>
                                        <li><a><i>【技巧】</i><span>一小时能最高能刷几十万元宝，非常可观！</span></a></li>
                                        <li><a><i>【技巧】</i><span>装备华丽，玩法新鲜，没有充值压迫感</span></a></li>
                                        <li><a><i>【技巧】</i><span>所有地图都可以进，多攒元宝回收转生</span></a></li>
                                        <li><a><i>【技巧】</i><span>F9背包可直接随身回收元宝</span></a></li>
                                        <li><a><i>【技巧】</i><span>充不充值不影响游戏体验</span></a></li>
                                        <li><a><i>【技巧】</i><span>统一随身泡点升等级，躺着也不会落下等级</span></a></li>
                                        <li><a><i>【技巧】</i><span>本服一天多个区·任何装备可回收，可爆出！</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title"><img src="/static/images/news_bt.png"
                                            ></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--世界观-->
<div class="word_bg" id="w2">

    <section class="m5">


        <div class="m5_div">
            <div class="uz16_com_zb boxstyle">
                <div class="uz16_com_zb_2bg">
                    <div class="uz16_com_zb_2">
                        <h3 class="PartTitle2">装备展示 <span>/ Item Show</span></h3>
                        <div class="role-itemst"><img src="/static/zb/1.gif"
                                                      ></div>
                        <div class="uz16_com_zb_2_d"></div>
                    </div>
                </div>

                <div class="uz16_com_zb_2bg">
                    <div class="uz16_com_zb_2">
                        <h3 class="PartTitle2">装备展示 <span>/ Item Show</span></h3>
                        <div class="role-itemst"><img src="/static/zb/2.gif"
                                                      ></div>
                        <div class="uz16_com_zb_2_d"></div>
                    </div>
                </div>

            </div>
        </div>


        <div class="m5_div">
            <div class="uz16_com_zb boxstyle">
                <div class="uz16_com_zb_2bg">
                    <div class="uz16_com_zb_2">
                        <h3 class="PartTitle2">装备展示 <span>/ Item Show</span></h3>
                        <div class="role-itemst"><img src="/static/zb/3.gif"
                                                      ></div>
                        <div class="uz16_com_zb_2_d"></div>
                    </div>
                </div>

                <div class="uz16_com_zb_2bg">
                    <div class="uz16_com_zb_2">
                        <h3 class="PartTitle2">装备展示 <span>/ Item Show</span></h3>
                        <div class="role-itemst"><img src="/static/zb/4.gif"
                                                      ></div>
                        <div class="uz16_com_zb_2_d"></div>
                    </div>
                </div>

            </div>
        </div>


    </section>


</div>


<script>
    $(function () {
        $(window).scroll(function () {
            var wst = $(window).scrollTop();
            for (i = 1; i < 6; i++) {
                if (($("#w" + i).offset().top + 300) <= wst) {
                    $('.nav_1 li a').eq(i).addClass('hover').parents('li').siblings().children('a').removeClass('hover');
                }
                if (wst < 1000) {
                    $('.nav_1 li a').eq(0).addClass('hover').parents('li').siblings().children('a').removeClass('hover');
                }
            }
        })
    });
</script>

<div class="footer">
    <div class="footer_1">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>

                <td align="center" valign="middle"
                    style="font-size:16px; font-family:'微软雅黑'; line-height:40px; text-align:center;"><a href="#" target="_blank" style="color:#FFC;">关于我们</a>
                    | <a href="#" target="_blank" style="color:#FFC;">服务条款</a> | <a href="#" target="_blank" style="color:#FFC;">广告服务</a> | <a
                            href="#" target="_blank" style="color:#FFC;">人事招聘</a> | <a href="#" target="_blank" style="color:#FFC;">游戏客服</a> | <a
                            href="#" target="_blank" style="color:#FFC;">商务合作</a> | <a href="#" target="_blank" style="color:#FFC;">正版申明</a> | <a
                            href="#" target="_blank" style="color:#FFC;">维权举报</a><br/>
                    <span style="color:#666;">COPYRIGHT 2003-2019 ERA . ALL RIGHTS RESERVED. 时代公司版权所有<br/>企业备案号：渝ICP备14006647号 渝网文[2014]1168-005号</span><br/>
                    <span style="color:#999;">本站由 <a href="http://www.bhbbk.com/" target="_blank" title="美工设计"
                                                     style=" color:#00FFFF; font-weight:bold;">BHBBK.COM</a> 独家设计制作<br/></span>
                </td>

            </tr>
        </table>
    </div>
</div>


</body>

</html>
